~/Code/DNN/.ipynb_checkpoints
~/Code/DNN/Final Models/Single Output/.ipynb_checkpoints
~/Code/DNN/Final Models/Multi Output/.ipynb_checkpoints
~/Code/DNN/Hyperparameter Checks/.ipynb_checkpoints
~/Code/DNN/Predictions/Single Output/Heat/.ipynb_checkpoints
~/Code/DNN/Predictions/Single Output/Taus/.ipynb_checkpoints
~/Code/DNN/Predictions/Multi Output/.ipynb_checkpoints
